<div class="about-top text-center">
  <div class="row">
    <h4 class="about-title mx-auto">Hello, I am</h4>
  </div>
  <div class="row">
    <p class="about-desc mx-auto">{{ aboutMe }}</p>
  </div>
</div>
<div class="about-content">
  <div class="row">
    <div class="col-md-6 col-12 order-md-1 order-2">
      <div class="skills-section mx-md-5 mx-3">
        <h4 class="text-primary mt-4 text-center text-md-start">My Skills</h4>
        <div class="skills-grid mt-3">
          <div *ngFor="let skill of skills" class="skill-item d-flex align-items-center">
            <span class="skill-icon me-2">✔</span>
            <span class="skill-name text-secondary">{{ skill }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 order-md-2 order-1">
      <div class="image-section text-center text-md-end">
        <img class="img-fluid about-svg" src="../assets/images/Skill.svg" alt="About Image">
      </div>
    </div>
  </div>
</div>