@media (max-width: 768px) {
  .card-body {
    height: auto;
    padding: 10px;
  }

  .profile-container {
    display: block;
    margin: 0 auto;
  }

  .content-container {
    padding: 10px;
  }
}