@media (max-width: 768px) {
    .card-body {
      height: auto; /* Adjust height for smaller screens */
    }
  
    .navbar {
      flex-direction: column; /* Stack navbar items vertically */
    }
  
    .text-grey {
      font-size: 12px; /* Adjust font size for smaller screens */
    }
}