
@media (max-width: 768px) {
  .card-body {
    height: 100%;
    padding: 10px;
  }

  .profile-container {
    display: block;
    margin: 0 auto;
  }

  .content-container {
    padding: 10px;
  }
}

.content-column{
  background-color: #ffffff;
}