<div class="achievements-container" style="margin: 5%; max-height: 580px; height: 100%; overflow-y: auto;">
    <div *ngFor="let achievement of _achievements" class="achievement-card">
      <p>{{ achievement }}</p>
    </div>
    <!-- Image Section -->
    <div class="col-md-7" style="display: flex; align-items: flex-end; justify-content: flex-start;">
      <div class="image-section">
      <img class="img-fluid about-svg" src="../assets/images/Design_Thinking.svg" alt="About Image" style="width: 80%;">
      </div>
    </div>
</div>